{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-clockpicker.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-clockpicker.min.css') }}">
{% endblock %}
{% block morescript %}
<script src="{{ url_for('static', filename='js/bootstrap-clockpicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-clockpicker.min.js') }}"></script>
<script type="text/javascript">
$('.time').clockpicker();
</script>
<script src="{{ url_for('static', filename='js/shetter_function.js') }}"></script>
{% endblock %}
{% block main %}
<div class="input">
  <ul>
    <li class="date">18</li>
    <li class="date">19</li>
    <li class="date">20</li>
    <li class="date">21</li>
    <li class="date">22</li>
  </ul>
  <br>

<div class="input-group clockpicker times">
  <span>
  <input id="start" class="time form-control" type="time" value="00:00"> ~
  <input id="end" class="time form-control" type="time" value="23:59">
</span>
</div>
  <br>

</div>
<h3>Shetter</h3>
<div id="shetter" class="container shetter">
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>住所</th>
      </tr>
    </thead>
    <tbody id="p">
    </tbody>
  </table>
</div>

{% endblock %}
