{% extends "base.html" %}
{% block main %}
<div class="input">
  <input class="date" name="date" value="18" type="radio">
  <input class="date" name="date" value="19" type="radio">
  <input class="date" name="date" value="20" type="radio">
  <input class="date" name="date" value="21" type="radio">
  <input class="date" name="date" value="22" type="radio">

  <br>

  <input class="time" type="time">
  <input class="time" type="time">

  <br>

  <input class="place" type="text">
</div>
<div id="shetter" class="shetter">
  <ul class="li">田中</ul>
  <ul class="li">佐藤</ul>
</div>
{% endblock %}
