<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shetter</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="shortcut icon" href="">
  </head>
  <body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.14.1/jquery.min.js"></script>
  </body>
</html>

